.container {
  height: 100%;
  background-color: lightgray;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.console {
  flex-grow: 1;
  height: auto;
  /* Override TextConsole 100% height to allow flex-grow to work properly */
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.6vh;
  padding: 1vh;
}

.containerDisabled {
  overflow: hidden;
}

.characterLine {
  width: fit-content;

  align-self: flex-start;
  max-width: 75%;
  word-wrap: break-word;
  overflow-wrap: anywhere;

  padding-left: 1vh;
  padding-right: 1vh;
  border-radius: 1vh;
  background-color: #444444;
  color: white;
}

.playerLine {
  width: fit-content;

  align-self: flex-end;
  max-width: 75%;
  word-wrap: break-word;
  overflow-wrap: anywhere;

  padding-left: 1vh;
  padding-right: 1vh;
  border-radius: 1vh;
  background-color: #795848;
  color: white;
}

.narrativeLine {
  text-align: left;
}

.asciiArtLine {
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-size: 0.9em;
  line-height: 1.0;
  text-align: left;
  white-space: pre;
  margin: 0;
  padding: 0;
  /* letter-spacing must be 0 or normal for ASCII art alignment */
  letter-spacing: normal;
}

.directionsBar {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5vh;
  font-weight: bold;
  border-bottom: 1px solid white;
}