.container {
  display: grid;
  height: 100vh;
  column-gap: .2rem;
  row-gap: 0;
  grid-template-rows: 10vh calc(80vh - 1rem) 10vh 1vh;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    "header header header"
    ". content right-panel"
    "footer footer footer"
    "avoid-overflow avoid-overflow avoid-overflow";
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 0fr 1fr 0fr;
  }
}

.header {
  grid-area: header;
  background: linear-gradient(#dddddd, #222222);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header>h1 {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: .1vw;
  -webkit-text-stroke-color: #222222;
  font-family: "hobby-of-night";
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 4vh;
}

@media only screen and (max-width: 600px) {
  .header>h1 {
    font-size: 3vh;
  }
}

.content {
  grid-area: content;
  padding: 3vh;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content>p {
  font-size: 2vh;
  text-align: center;
  padding-bottom: 1vh;
  flex-shrink: 0;
}

.content>h1 {
  color: white;
  background-color: black;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  font-size: 1.5vh;
  letter-spacing: .8vh;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  /* Updated from 2vh to fit better */
  flex-shrink: 0;
}

.chat {
  width: 100%;
  height: auto;
  flex-grow: 1;
  min-height: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.encounterActions {
  grid-area: right-panel;
  background-color: #f2f2f2;
  height: fit-content;
  padding: 1vh;
  border-top-left-radius: 1vh;
  border-bottom-left-radius: 1vh;
  border-color: #aaa;
  border-width: .2vh;
  border-style: solid;
  border-right-style: none;
  ;
}

.encounterActions>h1 {
  font-size: 1.5vh;
  text-align: center;
  color: #888;
  margin-bottom: 1vh;

}